 body {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 160%;
        font-family: "Open Sans", "Tahoma", sans-serif;
        text-align: center;
    }
    .content {
        display: inline-block;
        width: 80%;
        max-width: 1024px;
        padding-top: 40px;
        text-align: left;
    }

    h2 {
        font-weight: bold;
        color: #456491;
        text-transform: uppercase;
        margin-top: 40px;
    }

    h1 {
        margin-bottom: 10px;
        font-size: 200%;
        line-height: 110%;
        color: #456491;
    }
    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #456491;
    }

    .title {
        display: inline-block;
        vertical-align: top;
    }

    .photo {
        width: 170px;
        height: 220px;
        margin-right: 20px;
    }

    .contacts {
        margin: 0;
        display: inline-block;
        font-style: italic;
        font-size: 80%;
        white-space: pre-wrap;
        text-decoration: none;
    }

    .contacts img {
        width: 20px;
    }

    .contacts a {
        margin-left: 15px;
    }

